<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">
	
	<context-param>
		<param-name>armory.log.dir</param-name>
		<param-value>C:\Tomcat 9.0\log\xrsrv</param-value>
	</context-param>

	<context-param>
		<param-name>armory.log4j.config</param-name>
		<param-value>C:\Tomcat 9.0\etc\xrsrv\log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>armory.proxool.config</param-name>
		<param-value>C:\Tomcat 9.0\etc\xrsrv\proxool.properties</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.xx.armory.web.listeners.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.xx.armory.web.listeners.ProxoolConfigListener
		</listener-class>
	</listener>
	<filter>
		<filter-name>armory</filter-name>
		<filter-class>org.xx.armory.web.dispatchers.CoreDispatcher
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>armory</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<!-- no auth-constraint tag here -->
	</security-constraint>
</web-app>